header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
}

li:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: blanchedalmond;
}

#quizBox {
  height: 40vh;
  padding: 7px;
  border: none;
}

.quiz {
  display: none;
}

#questionBox {
  height: fit-content;
  text-align: center;
  padding-top: 1em;
}

#answerBox {
  height: fit-content;
  margin-top: 2em;
  padding: 10px;
}
